#paragraf::before{
    content: "przed elementem";
    color: red;
}

#aft::after{
    color: aqua;
    content: "po elemencie";
}

#litera::first-letter{
    color:pink;
}

#pole::first-line{
    color: yellow;
}

#sel::selection{
    color: black;
    background: red;
}

/*zadanie dwa*/
#drugie a{
    text-decoration: none;
}

#drugie a:visited{
    color: blue;
}
 
#drugie a:hover{
    text-decoration: underline;
    color: red;
}

#przeniesienie:target {
    color: purple;
    transition-duration: 3s;
}

#przeniesienie:target::before {
    content: "działa";
}

/*zadanie nr3*/

section div[suma^="15"]{
    background-color: red;
}

section div[suma$="80"]{
    color: blue;
}

section div[suma="3000"]{
    background-color: blue;
}

section div[suma]{
    height: 30px;
}

/*zadanie nr4*/

#bloki div{
    margin-top: 5%;
}

#blok{
    background-color: aqua;
    display: block;
}

#blok2{
    background-color: yellowgreen;
    display: block;
}

#lin{
    display: inline;
    background-color: red;
}
#lin2{
    background-color: purple;
    display: inline;
}

.liblok{
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: chartreuse;
    border: groove;
}

/*zadanie nr 5*/
#truska{
    float: left;
}


/*zadanie nr 6*/

body{
    background-image: url(../strawberry.png);
    background-attachment: fixed;
}

/*zadanie 7*/
.ramy{
    display: inline-block;
    vertical-align: top;
}

.wychodzi{
    overflow: visible;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: red;
}

.srodek{
    overflow: hidden;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: red;
}
.dwasc{
    overflow: scroll;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: red;
}

.auto{
    overflow: auto;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: red;
}
/*zadanie 8*/
#pol{
    width: 100%;
    overflow: hidden;
}

.podzial{
    width: 50%;
    display: inline-block;
    border: solid 12px;
    border-color: red;
    box-sizing: border-box;
    text-align: center;
   
}

.podzial1{
    width: 50%;
    display: inline-block;
    float: right;
    border: solid 12px;
    border-color: red;
    box-sizing: border-box;
    text-align: center;
}
#zadanie9{
    font-size: 0px;
}

#zadanie9 div{
    box-sizing: border-box;
    height: 100px;
    border: black 1px solid;
    background-color: red;
    width: 25%;
    display: inline-block;
}

@media (max-width:800px){
    #zadanie9 div{
        width: 50%;
    }
}


