body {
    margin: 0;
    position: absolute;
    top: -3%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

div#tlo {
    height: 90%;
    width: 100%;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
    text-align: right;
}

.menu-item {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin-top: 25px;
    width: 150px;
    font-size: 15px;
    margin-right: 15px;
}

#menu .menu-item a:hover {
    color: #686868
}

#menu .menu-item a {
    text-decoration: none;
    color: white;
}

#header h1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: white;
    font-size: 120px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 35%;
    font-weight: 100;
}

header h {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 55%;
    font-weight: 100;
}

.zielony {
    font-weight: 900;
    color: #1ac056;
}

div img {
    height: 50%;
    width: 25%;
    box-sizing: border-box;
    background-image: url('../img/jan-nowak.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 18%;
    margin-top: 5%;
    float: left;
    border-radius: 8px;
    padding: 5px;
    background: white;
    padding: 15px;
}

.slowa {
    font-family: 'Lato', sans-serif;
    margin-left: 55%;
}

.mnie {
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
    margin-left: 50%;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 0;
}

#mmnie {
    background-color: #f9fcfe;
    padding: 12px 80px 100px;
    box-shadow: 0 32px 48px -48px #888888;
}

#skill {
    background-color: white;
    padding: 1px 80px 100px;
    margin-top: 12px;
}

#skill h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

#skill p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

#icons il {
    display: inline-block;
    box-sizing: border-box;
    list-style: none;
}

#icons {
    text-align: center;
}

#contact {
    background-color: #213b50;
    color: #fff;
}

.przycisk {
    background-color: green;
    color: #fff;
}

.contact-data {
    margin-top: 20px;
    margin-left: 80px;
}

section .contact-form {
    margin-top: 100px;
    float: right;
  width: 50%;
}

.contact-data h2 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 90px;
    
}

.contact-data p {
    font-style: normal;
    line-height: 25px;
    margin-bottom: 45px;
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin {
    background: #213b50;
    color: white;
    width: 15px;
    height: 15px;
    border: 1px solid white;
}